Hello,

Your request to create a new organization record has been assigned ticket number $ticketPayload.getTicketNo().

#parse("email/ticketedRequestFooter.vm")

#parse("email/closing.vm")

#parse("email/submittedTemplate.vm")
