#set( $action = $templateMessage.getTemplate().getAction() )
Hello,

The POC Handle for your POC is $!orgPayload.getAdminPoc().  The record will be visible in ARIN's Whois shortly and can be accessed via the link below:

http://whois.arin.net/rest/poc/$!orgPayload.getAdminPoc()

The Organization Handle for your ORG is $!orgPayload.getOrgHandle().  The record will be visible in ARIN's Whois shortly and can be accessed via the link below:

http://whois.arin.net/rest/org/$!orgPayload.getOrgHandle()

The request for the reassigned network has been assigned ticket number $ticketPayload.getTicketNo().

#parse("email/ticketedRequestFooter.vm")

#parse("email/submittedTemplate.vm")
