Hello,

ARIN was unable to process your request:

#foreach( $error in $errors )
    $error
#end

Many errors can be prevented by ensuring your e-mail client
sends mail as "Plain Text", not as "HTML" or "Rich Text".
ARIN only accepts templates in plain text format.

#parse("email/submittedTemplate.vm")
