#set( $action = $templateMessage.getTemplate().getAction() )
#parse("email/greeting.vm")

#if( $action == 'MODIFY' )
The Net Handle for your network record is $netPayload.getNetHandle().  The record will be visible in ARIN's Whois shortly and can be accessed via the link below:

http://whois.arin.net/rest/net/$netPayload.getNetHandle()
#end
#if( $action == 'REMOVE' )
$netPayload.getNetHandle() will be removed shortly.
#end

#parse("email/closing.vm")

#parse("email/submittedTemplate.vm")