ARIN will review your request and respond with a message within two business days. To access your secure messages, log in and choose Notifications, or visit:

$!{publicBaseUrl}/notifications

You may be asked to supply additional information. All correspondence about your request must be sent through the Ticket associated with your request.

You can also access status updates and correspondence about ticketed requests by logging in and going to Tickets.